<div class="tm-sidebar sticky">
    <section id="welcome" class="tm-content-box tm-banner margin-b-15">
        <div class="tm-banner-inner">
            <p class="tm-banner-subtitle">art portal by</p>
            <h1 class="tm-banner-title">Vanilla Art</h1>
        </div>
    </section>
    <nav class="tm-main-nav">
        <ul class="tm-main-nav-ul">
            <li class="tm-nav-item"><a href="{% url 'index' %}" class="tm-nav-item-link tm-button">Gallery</a>
            </li>
            <li class="tm-nav-item"><a href="{% url 'topics' %}" class="tm-nav-item-link tm-button active">Topics</a>
            </li>
            <li class="tm-nav-item"><a href="{% url 'about' %} " class="tm-nav-item-link tm-button">About</a>
            </li>
            <li class="tm-nav-item"><a href="{% url 'contact view' %}" class="tm-nav-item-link tm-button">Contact</a>
            </li>
        </ul>
    </nav>
</div>