{% extends 'common/base.html' %}
{% block content %}
    <div class="tm-main-content">

        <div class="row mb-5">
            <div class="media tm-flexbox-ie-fix tm-width-ie-fix">
                <div class="tm-media-img-container">
                    <div class="text-center pt-31 pb-31 tm-timeline-date tm-bg-pink">Graphics</div>
                    <img class="d-flex img-fluid" src="/media/media/222.jpg" alt="Generic placeholder image">
                </div>

                <div class="media-body tm-flexbox-ie-fix tm-width-ie-fix tm-bg-light-gray">
                    <div class="p-5">
                        <h2 class="mb-4 mt-0 tm-blue-text tm-timeline-item-title">What the graphic design is?</h2>
                        <p class="mb-4">
                            Graphic design is a craft where professionals create visual content to communicate messages.
                            By applying visual hierarchy and page layout techniques, designers use typography and pictures
                            to meet users’ specific needs and focus on the logic of displaying elements in
                            interactive designs, to optimize the user experience.
                        </p>

                        <a href="{% url 'more topic graphic' %}"
                           class="btn btn-primary tm-button-rounded tm-button-pink tm-button-no-border tm-button-normal tm-button-timeline">More Graphics</a>
                    </div>
                </div>
            </div>
        </div> <!-- row -->
                <div class="row mb-5">
            <div class="media tm-flexbox-ie-fix tm-width-ie-fix">
                <div class="tm-media-img-container">
                    <div class="text-center pt-31 pb-31 tm-timeline-date tm-bg-gray">Jewellery</div>
                    <img class="d-flex img-fluid" src="/media/media/gem.jpg" alt="Generic placeholder image">
                </div>

                <div class="media-body tm-flexbox-ie-fix tm-width-ie-fix tm-bg-light-gray">
                    <div class="p-5">
                        <h2 class="mb-4 mt-0 tm-blue-text tm-timeline-item-title">VanillaArt's favourite art </h2>
                        <p class="mb-4">Jewellery or jewelry consists of decorative items worn for personal adornment,
                            such as brooches, rings, necklaces, earrings, pendants, bracelets, and cufflinks.
                            Jewellery may be attached to the body or the clothes. From a western perspective,
                            the term is restricted to durable ornaments, excluding flowers for example.
                            For many centuries metal such as gold often combined with gemstones,
                            has been the normal material for jewellery, but other materials such as shells
                            and other plant materials may be used.</p>
                        <a href="{% url 'more topic jewellery' %}"
                           class="btn btn-primary tm-button-rounded tm-button-gray tm-button-no-border tm-button-normal tm-button-timeline">More Jewellery</a>
                    </div>
                </div>
            </div>
        </div> <!-- row -->
        <div class="row mb-5">
            <div class="media tm-flexbox-ie-fix tm-width-ie-fix">
                <div class="tm-media-img-container">
                    <div class="text-center pt-31 pb-31 tm-timeline-date tm-bg-green">More Arts</div>
                    <img class="d-flex img-fluid" src="/media/media/223.jpeg" alt="Generic placeholder image">
                </div>

                <div class="media-body tm-flexbox-ie-fix tm-width-ie-fix tm-bg-light-gray">
                    <div class="p-5">
                        <h2 class="mb-4 mt-0 tm-blue-text tm-timeline-item-title">What's considered art?</h2>
                        <p class="mb-4">
                            The term "the arts" includes, but is not limited to, music (instrumental and vocal), dance,
                            drama, folk art, creative writing, architecture and
                            allied fields, painting, sculpture, photography, graphic and craft arts, industrial design, costume and fashion
                            design, motion pictures, television, radio, film, video, tape ...
                        </p>

                        <a href="{% url 'more topic other' %}"
                           class="btn btn-primary tm-button-rounded tm-button-green tm-button-no-border tm-button-normal tm-button-timeline">
                            More Arts</a>
                    </div>
                </div>
            </div>
        </div> <!-- row -->

        <div class="row mb-5">
            <div class="media tm-flexbox-ie-fix tm-width-ie-fix">
                <div class="tm-media-img-container">
                    <div class="text-center pt-31 pb-31 tm-timeline-date tm-bg-red">Fine art</div>
                    <img class="d-flex img-fluid" src="/media/fine_art_Kti8g4b.jpg" alt="Generic placeholder image">
                </div>

                <div class="media-body tm-flexbox-ie-fix tm-width-ie-fix tm-bg-light-gray">
                    <div class="p-5">
                        <h2 class="mb-4 mt-0 tm-blue-text tm-timeline-item-title">About the fine art</h2>
                        <p class="mb-4">Historically, the five main fine arts were painting, sculpture, architecture, music,
                            and poetry, with performing arts including theatre and dance.[2] In practice, outside education,
                            the concept is typically only applied to the visual arts. The old master print and drawing were included
                            as related forms to painting, just as prose forms of literature were to poetry. Today, the range of what
                            would be considered fine arts (in so far as the term remains in use) commonly includes additional modern
                            forms, such as film, photography, video production/editing, design, and conceptual art.</p>

                        <a href="{% url 'more topic fine art' %}"
                           class="btn btn-primary tm-button-rounded tm-button-red tm-button-no-border tm-button-normal tm-button-timeline">
                            More Fine Arts</a>
                    </div>
                </div>
            </div>
        </div> <!-- row -->


     <div class="row mb-5">
            <div class="media tm-flexbox-ie-fix tm-width-ie-fix">
                <div class="tm-media-img-container">
                    <div class="text-center pt-31 pb-31 tm-timeline-date tm-bg-gray">Photography</div>
                    <img class="d-flex img-fluid" src="/media/media/gem.jpg" alt="Generic placeholder image">
                </div>

                <div class="media-body tm-flexbox-ie-fix tm-width-ie-fix tm-bg-light-red">
                    <div class="p-5">
                        <h2 class="mb-4 mt-0 tm-blue-text tm-timeline-item-title">Best hobby ever</h2>
                        <p class="mb-4">Photography is the art, application, and practice of creating durable images by
                            recording light, either electronically by means of an image sensor, or chemically by means
                            of a light-sensitive material such as photographic film.</p>
                        <a href="{% url 'more topic photography' %}"
                           class="btn btn-primary tm-button-rounded tm-button-gray tm-button-no-border tm-button-normal tm-button-timeline">More Photography</a>
                    </div>
                </div>
            </div>
        </div> <!-- row -->
    </div>


    <!-- load JS files -->
    <script src="/static/js/jquery-1.11.3.min.js"></script>             <!-- jQuery (https://jquery.com/download/) -->
    <script>

        $(document).ready(function () {
            // Update the current year in copyright
            $('.tm-current-year').text(new Date().getFullYear());
        });

    </script>

{% endblock %}